.dot{
    background-color:#ff45ac;
    width:200px;
    height:200px;
    border-radius:100%;
    margin:0;
    display:inline-block;
    position:fixed;
    top:0;
    left:0;
}
.photo{
    width:50%;
    height:auto;
    border:1px solid #999;
    border-radius:100%;
    margin:auto;
    float:center;
    display:inline-block;
    position:fixed;
}