/*Index page*/


h1 { 
    font-size:72px;
    font-family:'Brandon Grotesque', sans-serif;
    text-align:center;
    margin-bottom:0px;
}
h2{
    font-size:18px;
    font-family:"Brandon Grotesque", sans-serif;
    font-weight:100;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    margin:auto;
    padding:20px;
    text-transform:uppercase;
}

link{
	text-decoration:none;
	
}

a {
    text-decoration:none;
    font-size:18px;
    font-family:"Brandon Grotesque", sans-serif;
    font-weight:100;
    text-align:center;
    padding:35px;
    text-transform:uppercase;
    
}
a:hover{
	text-decoration:none;
    color:#ff0066;
}

a{
	color:#bfcbba;
}

#container {
	width:80%;
	margin: 0 auto;
	height:250px;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:space-between;
	
}

section{ 
	width:100px;
	height: 100px; 
	border-radius:50px;
}

.top{ 
	background-color:#f2f2f2;
	display:flex;
	align-items:center;
	justify-content:center;
	
}

.middle{ 
	background-color: #f2f2f2;
	display:flex;
	align-items:center;
	justify-content:center;
}

.bottom{ 
	background-color: #f2f2f2;
}

h3{
    font-size:50px;
    text-decoration:none;
    font-family:"Brandon Grotesque", sans-serif;
    font-weight:100;
    text-align:center;
    padding:0px;
    text-transform:uppercase;
    margin:15px;
    color:#bfcbba;
}

h3:hover{
    color:#ff0066;
}

@media (min-width:901px) { 
	body{ 
		background-color: #bfcbba;


}

@media (max-width:900px) { 
	body{ 
		background-color: #ccE;
	}

}

